# Virtual environment
.venv/

# Environment variables / API keys
.env

# Python cache
__pycache__/
*.py[cod]

# Streamlit
.streamlit/

# Chroma database
chroma_db/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

data/chroma/
data/chroma_test/